body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: RGB(110, 72, 74);
    margin: 0;
    padding: 0;
  }
  
  /* Phone Styles */
  @media screen and (max-width: 767px) {
    body {
      background-color: rgb(130, 253, 146);
    }
  }
  
  /* Tablet Styles */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    body {
      background-color: rgb(195, 196, 250);
    }
  }




.poem{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.poem_2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
}

.title{
    text-align: center;
}

.author{
    text-align: center;
}

.intro{
    text-align: center;
}

.intro_2{
    text-align: center;
}

.conclusion{
    text-align: center;
}